#maincol p { 
	margin: 5px 20px 5px 75px; 
	letter-spacing: 0px 
} 

#maincol h1 {    
	margin: 15px 10px 15px 25px; 
	font-family:  Verdana, Arial, sans-serif;
	font-size: 18px; 
	font-weight: bold; 
	line-height: 19px; 
	letter-spacing: 4px
}    

#maincol h2 {    
	margin: 5px 10px 15px 50px; 
	font-family:  Verdana, Arial, sans-serif;
	font-size: 14px; 
	font-weight: bold; 
	line-height: 19px; 
	letter-spacing: 2px
} 

#maincol .date {    
	margin-left: 25px; 
	font-size: 9px; 
	color: #1C44BC;
	letter-spacing: 1px
}

#maincol a:link, #maincol a:visited { 
	color: #1C44BC;
	text-decoration: none;
}

#maincol a:hover, #maincol a:active { 
	color: #9C0000;
	text-decoration: none;
}

#maincol .backtop { 
	margin: 0 0 0 450px; 
}

#maincol ul {   
	margin-top: 5px; 
	margin-bottom: 5px;  
	margin-left: 80px; 
	list-style: square 
}

#maincol li {  
	margin-left: 10px 
}

#maincol ol {  
  margin-top: 15px; 
  margin-bottom: 15px; 
  font-size: 0.7em;
  line-height: 1.5em;
  list-style-type:  decimal
}

div.rule {  
	margin: 0 0 0 0;
	width: 570px;
	height: 36px;
	background: url('img/sep.png');
	border: 0;
}